/** マージン・パディング **/
$narrow: 2px;
$moderate: 6px;
$wide: 10px;
$very_wide: 20px;

/** フォントサイズ **/
$tiny: 8px;
$small: 10px;
$normal: 12px;
$large: 16px;
$huge: 20px;

/** 行の高さ **/
$standard_line_height: 16px;