$dark_gray: #666666;
$very_light_gray: #fafafa;

div#error {
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  border: solid 4px $dark_gray;
  background-color: $very_light_gray;
  text-align: center;
  p.url{
    font-family: monospace;
  }
}