<div id="error">
    <h1>403 Forbidden</h1>
    <p>
    <%=
        case @exception
        when ApplicationController::IpAddressRejected
        "あんたのIpダメ #{request.ip}"
        else
         'アクセスしちゃだめ'
        end
    %>
    </p>
</div>
