@import 'colors';
@import "dimentions";

div#wrapper{
  div#container{
    h1{
      margin: 0;
      padding: $moderate * 1.5 $moderate
      font-size: $large;
      font-weight: normal;
      background-color: $very_dark_cyan;
      color: $light_gray;
    }
  }
}