@import 'colors';
@import "dimentions";

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
}

div#wrapper{
  position: relative;
  box-sizing: border-box;
  min-height: 100%;
  margin: 0 auto;
  padding-bottom: ($wide + $moderate) * $standard_line_height;
  background-color: $gray;
}

header{
  padding: $moderate;
  background-color: $dark_cyan;
  color: $very_light_gray;
  span.logo-mark{
    font-weight: bold;
  }
}

footer{
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: $dark_gray;
  color: $very_light_gray;
  p{
    text-align: center;
    padding: $moderate;
    margin: 0;
  }
}