<!DOCTYPE html>
<html>
<head>
  <title><%= document_title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="wrapper">
        <%= render 'shared/header' %>
        <div id="container">
            <%= yield %>
        </div>
        <%= render 'shared/footer' %>
    </div>
</body>
</html>
